/* #category-container{
    display: grid;
    grid-template-columns: 20% 1fr;  
} */

#side-nav{
    display: flex;
    gap: 1rem;
    padding: 1rem;
    flex-direction: column;
}

.side-btn{
    cursor: pointer;
    background-color: blueviolet;
    color: white;
    padding: 0.5rem 1rem;
    font-size: large;
    font-weight: bold;
    border-radius: 0.25rem;
    text-align: right;
    transition: all 500ms;
}
.side-btn.active{
    background-color: orangered;
}

@media screen and (max-width: 600px) {
    #category-container{
        grid-template-columns: 1fr;
    }
    #side-nav{
        flex-direction: row;
    }
    #side-nav > *{
        flex: 1 0 auto;
    }
}
