<main id="category-container" class="left-nav-container">
    
    <!-- Category Buttons Nav Side -->
    <nav id="side-nav" class="stitches">

        <button *ngFor="let cat of itemService.categories"
            class="stitches"
            [routerLink]="['/category/', cat]" 
            routerLinkActive="active"
        >{{ cat }}</button>
        
    </nav>

    <div id="content-container">

        <router-outlet
            (activate)="activated=true"
            (deactivate)="activated=false"
        ></router-outlet>

        <div *ngIf="!activated">    
            <h2>Please choose a category</h2>
        </div>

    </div>

</main>