/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;

  --accent-color: #D090F5;
  --header-color: #C1D8F5;
  --button-color: #F5EAA8;
  --button-active-color: #F5D69D;
}

a{
  text-decoration: none;
  color: inherit;
}

body{    
    background-color: #f0eef9;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    height: 100%;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Poppins', sans-serif;
  /* font-weight: 600; */
}

/* .active{
  border: 2px solid red;
} */

/* A container with 2 divs: nav content */
.left-nav-container{
  display: grid;
  grid-template-columns: 20% 1fr;
}

.flex-child{
  flex: 1 1 auto;
}

.title{
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0px 2px 8px #000;
}

.cursor-pointer{ cursor:  pointer; }

button{
  padding: 0.25rem 0.5rem;
  background-color: var(--button-color);
  border: none;
  border-radius: 0.25rem;
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 18px;
  font-weight: 400;
  transition: all 200ms;
  cursor: pointer;
  border: 1px dashed black;
}

button.active{
  background-color: var(--button-active-color);
}

.main-image{
  object-fit: cover;
  flex: 1 1 auto;
  aspect-ratio: 16 / 9;
  width: 100%;
}
