/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body{    
    background-color: #9e9e9e;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Poppins', sans-serif;
  /* font-weight: 600; */
}

/* .active{
  border: 2px solid red;
} */

/* A container with 2 divs: nav content */
.left-nav-container{
  display: grid;
  grid-template-columns: 20% 1fr;
}

.title{
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0px 2px 8px #000;
}

