<!-- <div *ngIf="zoom_url" id="zoom-image-container" [@fadeInOut] >
    <div id="zoom-image-inner">
        <img class="zoom-image"
            [lazyLoad]="zoom_url"
            [defaultImage]="'/assets/img/tester.png'"
        />
        <div id="close-btn"
            class="cursor-pointer"
            [defaultImage]="'/assets/page-assets/btn_x.svg'"
            [lazyLoad]="'/assets/page-assets/btn_x.svg'"
            (click)="onCloseClick()"
        ></div>
    </div>        
</div> -->

<main>    

    <div id="side-bar" class="stitches">        
        <button *ngIf="back_url" 
            [routerLink]="back_url"
            class="stitches active"
        >Back to {{back_name}}</button>
        
        
        <!-- Links -->
        <div *ngIf="item.links" id="links-container">
            <br/>
            <h3>External Links:</h3>
            <div id="external-links">
                <a *ngFor="let link of item.links | keyvalue"
                    href="{{ link.value }}"
                ><button class="stitches">{{link.key}}</button></a>
            </div>
            <!-- <small>(You will be taken to an external site)</small> -->
        </div>

    </div>
    
    <div id="content">
        <span id="category-label">{{ item.category }}</span>

        <!-- Main Image -->
        <h2>{{ item.name }}</h2><br/>
        <img
            id="main-image"
            class="flex-child"
            [lazyLoad]="item.img_src"
            [defaultImage]="'/assets/page-assets/loading.svg'"
        />

        <!-- Description -->
        <p *ngIf="item.desc">{{ item.desc }}</p><br/>

        <!-- Gallery -->
        <div *ngIf="item.imgs" class="img-gallery">
            <img *ngFor="let img of item.imgs"
                [lazyLoad]="img"
                [defaultImage]="'/assets/page-assets/loading.svg'"
                />
        </div>

        <!-- Links -->
        <!-- <div *ngIf="item.links" id="links-container">
            <h3>Links:</h3>            
            <div>
                <a *ngFor="let link of item.links | keyvalue"
                    href="{{ link.value }}"
                >
                    <button>{{link.key}}</button>
                </a>
            </div>
            <small>(You will be taken to an external site)</small>
        </div> -->

    </div>

</main>


