<div *ngIf="zoom_url" id="zoom-image-container" [@fadeInOut] 
    (click)="onCloseClick()"
>
    <div id="zoom-image-inner">
        <img class="zoom-image cursor-pointer"
            [lazyLoad]="zoom_url"
            [defaultImage]="'/assets/img/tester.png'"
            
        />        
    </div>     
</div>

<main>    

    <div id="side-bar" class="stitches"> 
        
        <div class="sticky sticky-links">

            <button *ngIf="back_url" 
                [routerLink]="back_url"
                [fragment]="fragment"
                class="nav-button active"
            >Back to {{back_name}}</button>
            
            <div *ngIf="item.note" id="extra-container">
                <p>{{ item.note }}</p>
            </div>
            
            <!-- Links -->
            <div *ngIf="item.links" id="links-container">
                <h4>External Links:</h4>
                <div id="external-links">
                    <a *ngFor="let link of item.links | keyvalue"
                        href="{{ link.value }}"
                    ><button class="">{{link.key}}</button></a>
                </div>
                <small>(You will be taken to an external site)</small>
            </div>

        </div>
        

    </div>
    
    <div id="content">
        <span id="category-label">{{ item.category }}</span>

        <!-- Main Image -->
        <h2>{{ item.name }}</h2><br/>
        
        <img
            id="main-image"
            class="flex-child clickable"
            (click)="onImageClick($event)"
            [loadImg]="'assets/img/'+item.img"
        />  

        <div id="desc" *ngIf="item.desc" class="property-container">
            <h4>Description:</h4>
            {{ item.desc }}
        </div>

        <div id="dimensions" *ngIf="item.dimensions" class="property-container">
            <h4>Dimensions:</h4>
            {{ item.dimensions }}
        </div>

        <div id="extra" *ngIf="item.extra" class="stitches" class="property-container">
            {{ item.extra }}
        </div>

        <!-- Gallery -->
        <div *ngIf="item.imgs" class="img-gallery">
            
            <img *ngFor="let img of item.imgs"
                class="cursor-pointer"
                (click)="onImageClick($event)"
                [loadImg]="'assets/img/'+img"
                [useObserver]="false"
                />
        </div>
        
    </div>
</main>


