
.search-result-container{
    background-color: #ccc;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 0.25rem;
    display: grid;
    grid-template-columns: min-content 1fr;
}
.search-result-container #small{
    font-weight: 500;
    font-size: 14px;
    /* overflow: hidden;
    white-space: nowrap; */
    text-overflow: ellipsis;
    max-width: 100%;

}
.search-result-container img{
    margin-right: 0.5rem;
    width: 50px;
    height: 50px;
    overflow: hidden;
    object-fit: cover;
}