
:host{ 
    cursor: pointer;
}
a{
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    :host{ flex: 1 0 auto; }
}


/* Padding on container, not headers */
.link-btn{
    padding: 0.25rem;
    font-weight: 500;
    color: white;
    text-align: center;
    background-color: blue;
}
.link-btn:active{
    background-color: green;
}