<main>
    <h2>Search results for: "{{ search_string }}"</h2>
    <small>Showing {{ start_index }} - {{ end_index }} ({{ results.length }})</small>
    <br/><br/>
    <div id="search-body" class="stitches">

        <!-- Items -->
        <h3 *ngIf="categories.length">Categories</h3>
        <div *ngIf="categories.length" id="category-container">
            <button *ngFor="let category of categories"
                class="nav-button"
                [routerLink]="category.url"
            >{{ category.text }}</button>
        </div>
        
        <!-- Items -->
        <h3 *ngIf="items.length">Items</h3>
        <div *ngIf="items.length" id="item-container">
            <app-thumb *ngFor="let item of items" [item]="item"></app-thumb>
        </div>
    </div>
    
</main>

