
input{
    min-width: 0px;
    width: 100%;
}

#main{
    padding: 1rem;
    background-color: aliceblue;
    margin-bottom: 1rem;
    border: 2px solid rgba(0,0,0, 0.5);
    width: 100%;
    border-radius: 5px;;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}
.toggle{
    font-size: 24px;
    font-weight: bold;
}

.buttons h3{
    margin-right: auto;
}

#content{
    margin: 1rem 0px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content;
    gap: 1.5rem;
    max-width: 100%;
}

.images{    
    font-size: 16px;
}
.left-buttons{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-around;
}

.attribute-list{
    max-width: 100%;    
    font-size: 20px;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content;
    gap: 0.5rem;
}
.attribute-list *{
    font-size: 16px;
}
.attribute-list span{
    text-align: right;
}

textarea, input[type="text"], select{
    font-family: inherit;
    font-size: inherit;
    padding: 0.2rem;
    border: 2px solid grey;
    border-radius: 3px;

    text-overflow: ellipsis;
    white-space: nowrap;
}
textarea{
    /* max-width: 100%; */
    word-wrap:break-all;
    resize: vertical;
}

.multiple-images{
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    margin-bottom: 0.25rem;
}
.multiple-images img{
    height: 50px;
}

img{
    max-width: 100%;
    height: auto;
}

.link-menu-button{    
    margin-top: 0.25rem;
}
.link-menu, .links-inner{
    font-size: 18px;
    margin-top: 0.25rem;
    display: grid;
    grid-template-columns: 120px 1fr 80px;
    gap: 0.25rem;
}

.links-inner > *{
    padding: 0.25rem;
}
.link-name{
    border-radius: 3px;   
    background-color: rgba(0,0,0,0.1);
    text-align: center;
}
.link-msg{
    font-size: 14px !important;
    padding: 0.25rem 0.5rem;
}
.link-truncated{
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 600px) {
    #content{
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content;
    }
    #title-text{
        display: flex;
        flex-direction: column;
    }
}