

<!-- 
    export interface Item {
    id: number;
    name: string;
    category: string;
    desc: string;
    img_src: string;
    imgs : string[] | undefined;
    dimensions?: string;
    links?: {[key: string]: string};
    note?: string;
    extra?: string;
} -->


<main>  

    <div class="buttons">
        <h3>{{ item.name }}</h3>
        <button
            class="toggle"
            (click)="OpenClick()"
        >{{active_char }}</button>        
    </div>

    <div [ngClass]="{'content':true,  'hidden': !active }">

        <div class="images">
            <img [src]="'assets/img/'+ item.img"/><br/>
            {{item.img}}<br/><br/>
            
            <!-- Hidden file input (template ref trick) -->
            <input
                #mainImgInput
                (change)="OnMainImgChange($event)"
                id="main-img-src" 
                name="main-img-src" 
                type="file"
                class="hidden"                
            >
            <div class="left-buttons">
                <button
                    (click)="mainImgInput.click()"
                >Choose Main Image</button>

                <button
                    (click)="DeleteMe()"
                    (focusout)="ResetDelete()"
                    style="background-color: rgba(255, 0, 0, 0.15); margin-top: 1rem; "
                >{{delete_text}}</button>
                <p *ngIf="delete_counter>0">Click again to delete this entire item.</p>
            </div>
            
        </div>
        
        <div class="attribute-list">
            <p></p><h3>Required Properties</h3>
            <span>Name:</span>
            <input
                type="text"
                (change)="UpdateItemValue($event, 'name')"
                value="{{item.name}}"
            />  
            
            <span >Description:</span>
            <textarea
                (change)="UpdateItemValue($event, 'desc')"            
            >{{item.desc}}</textarea>
    
            <span>Category:</span>
            <!-- <input
                type="text"
                (change)="UpdateItemValue($event, 'category')"
                value="{{item.category}}"
            /> -->
            <select
                (change)="UpdateItemValue($event, 'category')"
            >
                <option *ngFor="let cat of categories"
                    [value]="cat"
                    [selected]="cat == item.category"                    
                >{{cat}}</option>
            </select>

            <p></p><h3>Optional Properties</h3>

            <span>Dimensions:</span>
            <input
                type="text"
                (change)="UpdateItemValue($event, 'dimensions')"
                value="{{item.dimensions}}"
            />

            <span>Note:</span>
            <input
                type="text"
                (change)="UpdateItemValue($event, 'note')"
                value="{{item.note}}"
            />

            <span>Extra:</span>
            <input
                type="text"
                (change)="UpdateItemValue($event, 'extra')"
                value="{{item.extra}}"
            />

            
            
            <span>Images:</span>
            <div>
                <div class="multiple-images" *ngIf="has_images; else noImages">
                    <img *ngFor="let s of item.imgs"
                        [src]="'assets/img/' + s"
                    >
                </div>
                <ng-template #noImages>No images set yet.<br/></ng-template>
                
                <input
                    type="text"
                    (change)="OnImagesChange($event)"
                    type="file"
                    multiple="multiple"
                >
            </div>

            <span>Links:</span>
            <div>
                <div class="links" *ngIf="has_links; else noLinks">
                    <div class="links-inner" *ngFor="let entry of item.links | keyvalue">
                        <div class="link-name">{{ entry.key }}</div>
                        <div>{{ entry.value }}</div>
                    </div>
                </div>
                <ng-template #noLinks><p>No links set yet.</p></ng-template>

                <div>
                    <div class="link-menu">                        
                        <input 
                            type="text" 
                            placeholder="Button Text"
                            [ngModel]="link_menu_text"
                            (ngModelChange)="link_menu_text = $event"
                            (change)="CheckLinkMenu()"
                        >
                        <input  
                            type="text" 
                            placeholder="Link Url"
                            [ngModel]="link_menu_url"
                            (ngModelChange)="link_menu_url = $event"
                            (change)="CheckLinkMenu()"
                        >
                        <button
                            (click)="CreateLink()"
                            [disabled]="!link_menu_valid"
                        >Add</button>                       
                    </div>

                    
                </div>
                
                
            </div>            
    
        </div>
    </div>
    
</main>
