
*{
    --padd: 1rem;
}

ul{
    margin: 0px;
    margin-left: 1rem;
}
li{ list-style-type: none; }
h4{ margin: 0.25rem 0px; }

main{
    position: relative;
    padding: var(--padd);
}

#search-container{    
    width: 100%;
    display: flex;
     
}

#search-field{
    border-radius: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border: 2px solid black;
    border-right-width: 0px;

    padding: 0.25rem;
    outline: none;
    flex: 1 1 auto;
}

#search-btn{
    border: 2px solid black;
    border-left-width: 0px;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    padding: 0.5rem 1rem;
}

/************ Results ****************/
#results{    
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    border: 1px solid black;
    border-top-width: 0px;
    padding: var(--padd) var(--padd) 2.5rem var(--padd);
    position: absolute;
    z-index: 1000;
    top: 100%;
    left: var(--padd);
    width: calc( 100% - 2rem);
    background: linear-gradient( rgba(230, 230, 230, 1),rgba(230, 230, 230, 0.95) );
}
#search-string{
    font-size: small;
    font-weight: 500;
    margin: 0px 0px 1rem 0px;
}