<main id="search-container">

    <div id="search-bar-container">
        <input id="search-field" 
            #search_input
            spellcheck="false"
            type="text"
            placeholder="Search Categories, Name, Description, etc" 
            [(ngModel)]="search_string"
            (ngModelChange)="onInputChange($event)" name="name"        
            [ngClass]="{ 'active':isFocused, 'errors': errors }" 
            (focus)="onFocusEvent(true)"
            (blur)="onFocusEvent(false)"
        />

        <button id="search-clear" 
            class="icon-btn"
            (click)="onClearClick()"
        ></button>

        <button id="search-btn" 
            class="icon-btn"
            (click)="onSearchClick()"
        ></button>

    </div>

    <!-- Search Results -->
    <div id="search-results" *ngIf="results || errors" [@slideInOut] class="stitches">

        <ng-template #error>
            <h4>There was an error searching for this:</h4>
            <div *ngFor="let error of errors">
                <p>{{ error.text }}</p>
                <small *ngIf="error.desc">{{error.desc}}</small>
            </div>
        </ng-template>

        <!-- No Errors - the results -->
        <div *ngIf="!errors; else error">

            <ng-template #nosearch><p class="bolded">No results found.</p></ng-template>

            <div *ngIf="results.length>0; else nosearch">
                <div>Top results results for: <span class="bolded">"{{ search_string }}"</span></div><br/>
                <ul>
                    <li *ngFor="let result of results; index as i">
                        <a *ngIf="i < 6"
                            [routerLink]="result.params!==undefined ? [ result.url, result.params ] : [ result.url ]"
                            [routerLinkActive]="'active'"
                            >
                            <app-search-result [data]="result"></app-search-result>
                        </a>
                    </li>
                </ul>
                <button *ngIf="results && results.length > 6"
                    id="more-button"
                    [ngClass]="'nav-button'"
                    (click)="onSearchClick()"
                    >See more results</button>
            </div>

        </div>
                
    </div>
</main>