
*{ --padd: 1rem;}

li{ list-style-type: none; }

main{ position: relative;}



    #search-bar-container{
        width: 100%;
        padding: var(--padd);
        display: flex;
    }
    #search-bar-container > *{
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 500 !important;        
        padding: 0.5rem;
        border: 3px solid #b3b3b3;
        border-radius: 0px;
    }
    #search-field{
        flex: 1 1 0px;
        min-width: 0;
        outline: none;
        border-radius: 0px;
        border-right-width: 0px !important;
        border-top-left-radius: 0.35rem !important;
        border-bottom-left-radius: 0.35rem !important;
        margin-right: -2px;
    }
    #search-field.errors{
        border-color: red !important;
    }

    #search-clear{
        flex: 0 0 40px;
        background: url('../../../assets/page-assets/btn_x.svg');
        border-left-width: 0px !important;
        border-right-width: 0px !important;
    }
    #search-btn{        
        background: url('../../../assets/page-assets/mag_glass.svg');
        border-left-width: 0px !important;
        border-top-right-radius: 0.35rem !important;
        border-bottom-right-radius: 0.35rem !important; 
    }

        .icon-btn{
            padding: 0.25rem;
            background-color: white !important;  
            background-repeat: no-repeat !important;
            background-origin: content-box !important;
            cursor: pointer;
            flex: 0 0 40px;   
        }


/************ Results ****************/
#search-results{
    z-index: -10;
    transform-origin: left top;
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;
    /* border: 2px solid black; */
    border-width: 2px;
    border-top-width: 0px;
    padding: var(--padd);
    position: absolute;
    top: calc( 100% - var(--padd) - 3px); 
    left: calc( var(--padd) + 5px);
    width: calc( 100% - 2rem - 10px );
    /* background: linear-gradient( rgba(230, 230, 230, 1),rgba(230, 230, 230, 1) ); */
    background-color: rgb(247, 247, 247);
    box-shadow: 
        rgba(0,0,0, 0.2) -3px 1px 4px,
        rgba(0,0,0, 0.2) 1px 3px 4px;
}

#search-string{
    font-size: small;
    font-weight: 500;
    margin: 0px 0px 1rem 0px;
}

a.active{
    color: #6f6f6f;
    cursor:not-allowed;
    position: relative;
}

a.active::after{
    position: absolute;
    font-size: 10px;
    display: block;
    content: '(This Page)';
    right: 0.5rem;
    top: 0.25rem;
}

#more-button{
    margin-top: 1rem;
}