
#category-container{
    min-height: 100%;
}

.thumb-container{
    background-color: white;
    display: grid;
    gap: 2rem;
    /* grid-template-columns: repeat( auto-fit, minmax( 200px, 1fr ) ); */
    grid-template-columns: repeat( auto-fit, 200px );
    justify-content: center;
    padding: 2rem;
    flex-grow: 1;
    border-radius: 0px 0px 0px 2rem;
    margin-bottom: 1.5rem;
}
.thumb-container > *{
    width: 200px;
    height: 200px;
    margin: auto;
}