main{
    padding: 2rem;
    position: relative;
    padding-bottom: 100px;
}

#output{
    position: fixed;
    background-color:var(--accent-color);
    width: 100%;
    height: min-content;
    z-index: 1000;
    bottom: 0px;
    left: 0px;
    padding: 1rem;
    color: white;
    font-weight: 500;
    font: inherit;
}

#json{
    padding: 1rem;
    background-color: aliceblue;
}

#tools{
    padding: 1rem;
    border: 1px solid black;
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

#new-item{    
    width: 75%;    
    left: 50%;
    gap: 1rem;
    transform: translateX(-50%);    
    position: absolute;
    background-color: white;
    border: 2px solid black;
    padding: 2rem;
}
#new-item-inner{
    margin-top: 1rem;
    display: grid;
    padding: 1rem;
    gap: 1rem;
    grid-template-columns: 100px 1fr;
    grid-template-rows: min-content;
}
#new-item-inner > label{
    text-align: right;
    font-weight: 500;
}
#new-item-inner > input, #new-item-inner > textarea{
    border: 1px solid black;
    padding: 0.25rem;
}
#new-item-inner > textarea{
    resize: vertical;
}