<main>

    <div id="title">
        <div id="title-text">
            <h2><i>SemiStatic®</i></h2>
            <small>JSON Builder</small>
        </div>
        <button (click)="UpdateSiteItems()">Update Site</button>
        <button (click)="CopyItems()">Copy Items</button>
        <button (click)="show_new_item=!show_new_item">New Item</button>
    </div>
    

    <!-------------------------------------------------------- New Item -->
    <div id="new-item" [ngClass]="{'hidden': !show_new_item}">        
        <h3>Create new Item</h3>

        <div id="new-item-inner">

            <div 
                id="close" 
                class="close-btn"
                (click)="CloseNew()"
            ></div>

            <label for="new-name">Name</label>
            <input id="new-name" 
                name="new-name" 
                type="text" 
                [(ngModel)]="new_name"
                (change)="CheckNew($event)"
            />

            <label for="new-desc">Description</label>
            <textarea id="new-desc" 
                name="new-desc" 
                [(ngModel)]="new_desc" 
                (change)="CheckNew($event)"
            ></textarea>

            <label for="new-category">Category</label>            
            <select id="select-category" 
                class="config-select"
                [(ngModel)]="selected_category"
                (change)="CheckNew($event)"
            >
                <option *ngFor="let cat of categories"
                    [value]="cat"                    
                >{{cat}}</option>
            </select>

            <label for="new-img-src">Image</label>
            <input                
                id="new-img-src" 
                (change)="SetNewFile($event)"
                name="new-img-src" 
                type="file"
            >

        </div>
        <br/>       
        <button [disabled]="!new_valid" (click)="NewItem()">Create New Item</button>
    </div>


    <!---------------------------------------------------------- Categories Tools -->
    <div id="categories">
        <h3>Categories</h3>

        <div id="new-cat">
            <small>New Category</small>
            <input
                type="text"
                [(ngModel)]="new_category"                
            />
            <button id="add-btn"
                (click)="NewCategory()"
            >Add</button>
        </div>

        <div id="categories-inner">
            <p>Click a category below to delete.</p>
            <button *ngFor="let cat of categories"
                (click)="DeleteCategory(cat)"
                (focusout)="delete_category = null"
                [ngStyle]="{'background-color': delete_category==cat ? 'rgba(255,0,0, 0.1)' : '' }"
            >{{cat}}</button>
            <p *ngIf="delete_category">Click again to delete the {{delete_category}} category.</p>
        </div>
                    
    </div>

    <!---------------------------------------------------------------- Items -->
    <h2>Items</h2>
    <div *ngFor="let item of items; let i=index"
        [id]="item.name"
    >
        <app-config-item *ngIf="item != undefined"
            [item]="item"
            [index]="i"
            [categories]="categories"
            (UpdateJSON)="Update($event)"
            (DeleteMeEmitter)="Delete($event)"
            (PreviewEmitter)="PreviewItem(item)"
        ></app-config-item>
    </div>

    <!---------------------------------------------------------------- json -->
    <h2>Final JSON Output</h2>
    <pre id="json">{{json_final}}</pre>

    <pre 
        id="output" 
        [ngClass]="{hidden: !output_visible}"
        (click)="output_visible = false"
    >{{ output_string }}</pre>
</main>