<main>

    <div id="tools">
        <h3>Tools</h3>
        <button
            (click)="CopyItems()"
        >Copy Items</button>
        
    </div>

    <!-- Items -->
    <div *ngFor="let item of items; let i=index">
        <app-config-item
            [item]="item"
            [index]="i"
            (UpdateJSON)="Update($event)"
        ></app-config-item>
    </div>

    <h3>Final</h3>
    <pre id="json">{{json_final}}</pre>

    <pre 
        id="output" 
        [ngClass]="{hidden: !output_visible}"
        (click)="OutputClicked()"
    >{{ output_string }}</pre>
</main>