<ng-template #load_screen>
    <!-- This should be the same as what is in index.html -->
    <div class="loading-screen">
        <h3>Loading Config...</h3>
        <div class="loader" style="margin-left:1rem;"></div>
    </div>
</ng-template>

<div *ngIf="!itemService.loading; else load_screen" id="content-layout">
    <nav id="header" class="stitches">
        <!-- [lazyLoad]="'assets/page-assets/rose_new.svg'" -->
        <div id="logo" 
            [loadImg]="'assets/page-assets/rose_new.svg'"
            [loadBg]="true"
            >
            <!-- <img [loadImg]="'assets/page-assets/rose_new.svg'"> -->
        </div>

        <div id="top-nav">

            <div id="nav-btn-container"><!-- class="stitches" -->

                <div id="nav-title">
                    Doris Jackem
                </div>

                <button class="flex-child active"
                    class="nav-button"
                    [routerLink]="['/home']" 
                    routerLinkActive="active"
                >Home</button>
    
                <button class="flex-child"
                class="nav-button"
                    [routerLink]="['/category']" 
                    routerLinkActive="active"
                >Categories</button>            
            </div>
        </div>  

        <div id="search">
            <app-search-bar></app-search-bar>
        </div>

    </nav>
    
    <div id="content">
        <router-outlet></router-outlet>
    </div>

    <div id="footer" class="stitches">
        <div id="socials">
            <a href="https://www.facebook.com"><img [lazyLoad]="'assets/page-assets/logo_fb.svg'"/></a>
            <a href="https://www.etsy.com"><img [lazyLoad]="'assets/page-assets/logo_etsy.svg'"/></a>
        </div>
        <h3>© Doris Jackem 2023</h3>
    </div>
    
</div>