<ng-template #load_screen>
    <!-- This should be the same as what is in index.html -->
    <div class="loading-screen">
        <h3>Loading Config...</h3>
        <div class="loader" style="margin-left:1rem;"></div>
    </div>
</ng-template>

<div *ngIf="!itemService.loading; else load_screen" id="content-layout">
    <nav id="header">
        <div id="logo">Logo</div>
        <div id="top-nav">

            <div [routerLink]="['/home']" routerLinkActive="active">
                Home
            </div>

            <div [routerLink]="['/category']" routerLinkActive="active">
                Categories
            </div>
            
        </div>        
        <div id="search">
            <app-search-bar></app-search-bar>
        </div>
    </nav>
    <!-- <nav id="side-nav">
        <app-link-button *ngFor="let cat of itemService.categories"
            [routerLink]="['/category', cat]" 
            [text]="cat"
        ></app-link-button>
    </nav> -->
    <div id="content">
        <router-outlet></router-outlet>
    </div>
    <div id="footer">Footer</div>
</div>