/* Desktop */
#content-layout{  
    display: grid;    
    grid-template-rows: auto 1fr 50px;
    min-height: 100vh !important;
    width: 100% !important;
}

/* Mobile */
@media only screen and (max-width: 600px) {
    #content{  
        min-height: 300px;
    }
    #header{
        grid-template-areas: 
            "logo nav" 
            "search search" !important;
        grid-template-columns: 50px 1fr !important;
    }
    #logo{
        padding: 1rem 0px 0px 1rem !important;
        background-position: left !important;
    } 

    #nav-title{
        align-self: center !important;
    }
    .top-button{
        padding: 0.25rem;
        font-size: 16px;
    }
    #footer h3{
        font-size: 12px;
        text-align: center;       
    }
    #semi-link{
        margin-right: 0 !important;
    }
}

/************** Header ****************/
#header{
    border-width: 0;
    border-bottom-width: 2px;
    position: relative;
    z-index: 100; 
    width: 100%;   
    background-color: var(--header-color);
    display: grid;
    grid-template-columns: clamp( 30px, 20%, 90px ) 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
        "logo nav" 
        "logo search";
}
    #logo{
        grid-area: logo;
        background-size: contain;
        background-origin: content-box;
        background-position: center;
        padding: 0.5rem;
        padding-right: 0px;;
        background-repeat: no-repeat;
    }

    #top-nav{
        /* width: min-content; */
        width: 100%;
        grid-area: nav;
        /* display: flex;
        gap: 0.5rem;
        justify-content: flex-end;
        align-content: center; */
        
    }
    .top-button{
        /* width: 200px; */
        /* flex: 1 1 100px; */
        padding: 0.25rem 1.5rem;
        border: 0px;
        
        /* width: clamp(20% ,100px) */
    }
    .top-button:not(.active){
        background-color: rgba(0,0,0, 0.03);
    }
    /* #top-nav > *{
        flex: 1 1 auto;
    } */

    

    #nav-btn-container{
        display: flex;
        width: 100%;
        gap: 1rem;
        padding: 1rem;
        padding-bottom: 0px;

        
        gap: 0.5rem;
        justify-content: flex-end;
        align-content: center;
    }

    #nav-title{
        font-size: 24px;
        font-weight: bolder;
        margin-right: auto;
        align-self: end;
        line-height: 1.2rem;
        font-family: 'Poppins', sans-serif;
        letter-spacing: -0.04rem;
    }
    

    #search{
        grid-area: search;
    }

#side-nav{    
    display: flex;
    flex-flow: column wrap;
    gap: 0.5rem;
    padding: 1rem;
    justify-content: flex-start;
}
#content{
    background-color: white;
    min-height: 100%;
}

#footer{
    padding: 1rem;
    background-color: var(--header-color);
    display: flex;    
    align-items: center;
    border-width: 0;
    border-top-width: 2px;
    justify-content: space-between;
}

#semi-link{
    font-size: 8px;
    /* margin-right: 2rem; */
    background-color: rgba(0,0,0, 0.1);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    text-align: center;
}
#semi-link a{
    font-size: 10px;
    font-weight: bolder;
    font-style: italic;
}

#socials{
    /* margin-right: auto; */
    display: flex;
    gap: 0.5rem;
}

#socials > *{
    height: 30px;
    width: 30px;
}

