/* Desktop */
#content-layout{  
    display: grid;    
    grid-template-rows: auto 1fr 50px;
    min-height: 100vh;  
}

/* Mobile */
@media only screen and (max-width: 600px) {
    #header{
        grid-template-areas: 
            "logo nav" 
            "search search" !important;
        grid-template-columns: 50px 1fr !important;
    }
    #logo{
        padding: 1rem 0px 0px 1rem !important;
        background-position: left !important;
    } 

    #nav-title{
        align-self: center !important;
    }
}

/************** Header ****************/
#header{
    border-width: 0;
    border-bottom-width: 2px;
    position: relative;
    z-index: 100; 
    width: 100%;   
    background-color: var(--header-color);
    display: grid;
    grid-template-columns: clamp( 30px, 20%, 90px ) 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
        "logo nav" 
        "logo search";
}
    #logo{
        grid-area: logo;
        background-size: contain;
        background-origin: content-box;
        background-position: center;
        padding: 0.5rem;
        padding-right: 0px;;
        background-repeat: no-repeat;
    }

    #top-nav{
        /* width: min-content; */
        width: 100%;
        grid-area: nav;
        /* display: flex;
        gap: 0.5rem;
        justify-content: flex-end;
        align-content: center; */
        
    }
    #top-nav > *{
        flex: 1 1 auto;
    }

    

    #nav-btn-container{
        display: flex;
        width: 100%;
        gap: 1rem;
        padding: 1rem;
        padding-bottom: 0px;

        
        gap: 0.5rem;
        justify-content: flex-end;
        align-content: center;
    }

    #nav-title{
        font-size: 24px;
        font-weight: bolder;
        margin-right: auto;
        align-self: end;
        line-height: 1.2rem;
        font-family: 'Poppins', sans-serif;
        letter-spacing: -0.04rem;
    }
    

    #search{
        grid-area: search;
    }

#side-nav{    
    display: flex;
    flex-flow: column wrap;
    gap: 0.5rem;
    padding: 1rem;
    justify-content: flex-start;
}
#content{
    background-color: white;
    min-height: 100%;
}

#footer{
    padding: 1rem;
    background-color: var(--header-color);
    display: flex;    
    align-items: center;
    border-width: 0;
    border-top-width: 2px;
    justify-content: space-between;
}


#socials{
    display: flex;
    gap: 0.5rem;
}

#socials > *{
    height: 30px;
    width: 30px;
}

