


/* Desktop */
#content-layout{  
    display: grid;    
    grid-template-rows: 100px 1fr 50px;
    min-height: 100vh;  
}

/* Mobile */
@media only screen and (max-width: 600px) {
    #header{
        grid-template-areas: 
            "logo nav" 
            "search search" !important;
    }    
}

/************** Header ****************/
#header{
    position: relative;
    z-index: 100; 
    width: 100%;   
    background-color: green;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "logo nav" 
        "logo search";
}
    #logo{
        grid-area: logo;
    }
    #top-nav{
        width: min-content;
        grid-area: nav;
        display: flex;
        gap: 0.5rem;
        justify-content: flex-end;
        align-content: center;
        
    }
    #top-nav > *{
        flex: 1 1 auto;
    }

    .head-btn{        
        cursor: pointer;
        background-color: blueviolet;
        color: white;
        /* padding: 0.5rem 1rem; */
        font-size: large;
        font-weight: bold;
        border-radius: 0.25rem;
        text-align: center;
        transition: all 500ms;        
    }

    #search{
        grid-area: search;
    }

#side-nav{    
    background-color: red;
    display: flex;
    flex-flow: column wrap;
    gap: 0.5rem;
    padding: 1rem;
    justify-content: flex-start;
}
#content{
    /* position: relative; */
    /* z-index: 99; */
}
#footer{    
    background-color: grey;
}

