:host{
    /* Offset Title and also general padding */
    --thumb-padding: 1rem;
}

.thumb{
    cursor: pointer;
    position: relative;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: #ccc; 
    padding: var(--thumb-padding);
    border-radius: var(--thumb-padding);
    /* background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0)); */
}

.thumb-title{
    display: inline-block;
    position: absolute;
    left: var(--thumb-padding);
    bottom: var(--thumb-padding);    
}

.image-loading{
    background-color: #5c5c5c;
    text-align: center;
    font-size: 18px;
}

.image-loading::after{
    content: "Loading...";    
}
