
<div id="splash-wrapper">

    <img id="spash-image"
        [loadImg]="featured_item.img"
        
    />

    <div id="splash-content">
        <h1>Doris Jackem</h1>
        <p>Official Website</p>
    </div>

    <div id="item-info">
        <button
            id="item-btn"
            class="nav-button"
            [routerLink]="['/item/' + featured_item.id]"
            [queryParams]="{'refer':'/home'}"
        >{{ featured_item.name }}</button><br/>
        <small class="category-text">{{ featured_item.category }}</small>
    </div>  

</div>

<div id="splash-1" class="splash-text">
    <h1>Welcome to my Website</h1>    
    <p id="splash-1-inner" class="bold-first">
        <img
            [lazyLoad]="'assets/page-assets/rose_new.svg'"
            [defaultImage]="'/assets/page-assets/loading.svg'"
        />
        I create hand-made knitting and cross-stitch crafts. This site is a collection of pieces that I have made recently, some for sale and some for display.
        If a piece is for sale, you will see a link to an external site to take you to the vendor. 
    </p>
</div>

<!-- <div id="splash-thing">
    
</div> -->

<div id="splash-2" class="splash-text">
    <h2>Jump to a Category</h2>
    <div id="link-gallery">
        <a *ngFor="let cat of itemService.categories"
            class="stitches"
            [routerLink]="['/category/' + cat]"
        >{{cat}}</a>
    </div>
    <p>All pieces belong to a category. You can click a link above or use the top navigation menu.
    You can also use the search bar if you have something in mind.</p>
</div>

<hr class="stitch-top"/>

<div id="splash-3" class="splash-text">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum nam officia quia quidem tenetur iste voluptas illum at maxime nobis! Voluptatibus odio nesciunt numquam sapiente quisquam quos illum quidem asperiores temporibus, dolorem dolorum voluptates consequatur! Nihil veritatis fugit officia exercitationem laboriosam magnam perferendis. Pariatur, inventore tenetur eum soluta voluptates ducimus?</p>

</div>

