
<div id="splash-wrapper">

    <img id="spash-image" [loadImg]="'assets/img/'+featured_item.img"/>

    <div id="splash-content">
        <h1>Doris Jackem</h1>
        <p>Official Website</p>
    </div>

    <div id="item-info">
        <button
            id="item-btn"
            class="nav-button"
            [routerLink]="['/item/' + featured_item.id]"
            [queryParams]="{'refer':'/home'}"
        >{{ featured_item.name }}</button><br/>
        <small class="category-text">{{ featured_item.category }}</small>
    </div>  

</div>

<div id="splash-1" class="splash-text">
    <h1>Welcome to my Website</h1>    
    <p id="splash-1-inner" class="bold-first">
        <!-- <img
            [lazyLoad]="'assets/page-assets/rose_new.svg'"
            [defaultImage]="'/assets/page-assets/loading.svg'"
        /> -->
        I create hand-made knitting and cross-stitch crafts. This site is a collection of pieces that I have made recently, some for sale and some for display.
        If a piece is for sale, you will see a link to an external site to take you to the vendor. Thanks for visiting my site!
        <img id="signature" src="assets/page-assets/sig.svg"/>
    </p>
</div>

<!-- <div id="splash-thing">
    
</div> -->

<div id="splash-2" class="splash-text stitches">
    <h2>Jump to a Category</h2>
    <div id="link-gallery">
        <a *ngFor="let cat of itemService.categories"
            class="splash-cat-btn stitches"
            [routerLink]="['/category/' + cat]"
        >{{cat}}</a>
    </div>
    <p class="splash-small">All pieces belong to a category. You can click a link above or use the top navigation menu.
    You can also use the search bar if you have something in mind.</p>
</div>

<!-- <hr class="stitch-top"/> -->

<div id="splash-3" class="splash-text">
    <h1>About Me</h1>
    <p class="bold-first">Hello.  I would like to introduce myself to you.
        I was born and raised in Ohio.  My mother and grandmother were always making 
        things for gifts or their own use.  When I went to the grocery store with my
        mother, she would buy a coloring book for me when I was young.  I loved to
        color and would complete book after book.  Grandma K. had a blackboard and
        when we would visit her, I would take the chalk and make a picture.  One picture
        that I really remember was that of a gray goose.  She kept that picture on the
        front porch and that is where it remained while she lived in the house.  Years
        later, it was gone but was in our memories.  In Home Economics, I was introduced
        to the sewing machine and created an apron which looked like Wonder Bread wrapping
        with blue, red and yellow dots.  I also moved on to knitting in 7th grade but
        always would crochet things more.  Scarves were the most popular and at Christmas
        everyone got a new scarf for the Ohio winters which were pretty harse. When I
        was attending school, I had very few store bought clothes and my mother made
        most of my wardrobe, including my prom dress.  She was quite a seamstress and
        I learned much from her. 
        <br/><br/>
        
        Decades later I began to cross stitch.  Started with small squares of fabric
        and letters or whatever pattern I could find in my mother's collection of craft
        books.  Now I have several cross stitch Christmas stockings which are a 
        combination of following very detailed illustrations and instructions.  I also
        made the fabric shape of the stocking and used the sewing machine to complete.
        I have made presents for teachers and friends over the years.
        <br/><br/>
        School gifts were also completed and for Christmas, I made a reindeer which
        had candy canes inserted into the body as their antlers.  A picture of the
        finished product is included in my website.  
        <br/><br/>
        I have numerous afghans for decoration and warmth in the winter.  Baby cocoons
        are crocheted to keep small people warm.  The cocoon pattern spoke to me as
        a way to keep an infant snuggled and help them feel more secure.  These are 
        included in my body of works.
        <br/><br/>
        When I was dating my husband-to-be, his father used to say crocheting and
        making things were my mental therapy.  He was right!  I was in the nursing
        field when I was young and crafts were a way that I could relax.  Nursing is
        a position I enjoyed for 42 years working at major hospitals in all areas.
        I started in ICU's, (Surgical and Neurologic) and moved to the Emergency Room, 
        Diagnostic Imaging, Cardiac Catherization Lab, every surgical and medical 
        floor including Pediatrics in my career.  When I would come home from a 8 or 12
        hour shift, I would pull out my most recent project and work for a few hours
        to decompress.
        <br/><br/>
        I am a mother of three, 2 sons and 1 daughter.  I have been blessed with 3 
        beautiful grandchildren.  Life has been good and I currently enjoy retirement
        with my husband of 45 years.
        <br/><br/>
        Thank you for looking at my website!  I hope you see something that interests
        you.</p>
</div>



