#splash-wrapper{
    position: relative;
    overflow: hidden;
    min-height: 400px;
    justify-content: center;
    background: linear-gradient(#fff, #535353);
}

/* Main Image */
#splash-wrapper > *{
    position: absolute;    
}

#spash-image{
    top: 0; left: 0;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;    
}

#splash-content{
    top: 0; left: 0;
    padding: 3rem;
    margin: auto;
}
#splash-content > h1{
    font-size: 40px;
    margin-bottom: 0.25rem;
    line-height: 2.5rem;
}
#splash-content p{
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 3px;
    position: relative;
    top: -0.5rem;
}

#splash-thing{
    background-color: var(--header-color);
    display: flex;
    padding: 1rem;
}

#item-btn{
    background-color: var(--button-active-color);
}

#item-info{
    right: 0; bottom: 0;
    padding: 2rem;
    max-width: 200px;
    text-align: right;
}

.splash-text{
    padding: 1rem 2rem;
    margin: 2rem;
}

/* #splash-1-inner{
    
} */

.splash-text p{
    display: inline-block;
    margin: .5rem 1rem;
    font-size: 18px;
}

.splash-text:has(#signature){
   margin-bottom: 0px;
   padding-bottom: 0px;
}
#splash-2{
    margin-top: 0px;
    background-color: var(--header-color);
    border-radius: 5px;
}

.splash-text p img{
    float: right;
    width: clamp(200px, 30%, 500px);
    /* aspect-ratio: 1 / 1; */
}
/* #signature{
    see above ^
    position: absolute;
    width:30%;
} */

.category-text{
    font-weight: 500;
    color: white;
}

#link-gallery{
    margin-top: 0.75rem;
    display: flex;
    flex-flow: row wrap;
    gap: 1.5rem;
    justify-content: space-evenly;
    padding: 0.5rem 1rem;
}

#link-gallery > a{
    padding: 1rem 2rem;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    background-color: var(--button-active-color);
    flex: 1 1 auto;
    border-radius: 5px;
    border-color: rgba(255,255,255, 0.5);
}
.splash-small{
    font-size: 16px !important;
}

@media only screen and (max-width: 600px) {
    .splash-text{
        padding: 0.5rem;
    }
}

